header{height:100px;
background:green;
margin-bottom: 10px;}
main{height:400px;
background-image:url(https://static.wikia.nocookie.net/brawlstars/images/5/5a/%D0%A2%D0%BE%D0%B9_%D1%81%D1%82%D0%BE%D1%80%D0%B8.png/revision/latest/scale-to-width-down/800?cb=20241209171402&path-prefix=ru);
background-position: center;
background-size: cover;
margin-bottom: 10px;}
footer{height:100px;
background:blue;}
.text1{font-size: 35px;
font-style: italic;
color:black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
padding-top: 30px;
padding-bottom: 50px;
margin-bottom: 10px;}
.riba{font-size: 50px;
font-style: italic;
color:black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
padding-top: 30px;
padding-bottom: 50px;
margin-bottom: 10px;}
.pic{display: block;
margin: 0 auto;}
nav{margin-bottom: 10px;
background-color:rgba(255, 127, 80, 0.26 );}
nav a{text-decoration: none;
margin:10px 5px;
padding: 5px 15px;
font-size:20px;}